*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* 适用于site1.0 */

@font-face {
    font-family: 'navfont';
    src: url(./font/演示夏行楷.ttf);
    }


body{
    background: white;
    /* background-image: linear-gradient(to right, #62221B 0%, #c94f13 10%, #FEA64C 50% ,#FECF91 75% , #C4ECE8 100% ); */
    }


/* 菜单栏设置 */


.nav{
    /* 菜单栏的背景色、高度、宽度 */
    background: #cfd9df;
    width: 1000px;
    height: 60px;
    /* 设置边界、圆角、盒子阴影、外边距 */
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 5px 5px 2px #868f96;
    margin: 100px auto;
    
    /* 设置弹性布局 */
    display: flex;
    /* 水平方向均匀分布 */
    justify-content: space-around;
    /* 垂直方向居中 */
    align-items: center;
}

/* 导航栏一级菜单里每个项目的设置 */

.navitem{
    width: 140px;
    height: 40px;
    border: 1px solid transparent;/*表示透明*/
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgb(142, 139, 139);
    background: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: relative;
    /* 引用自定义字体（可以看下HTML头部引用） */
    font-family: 'navfont'; 
}

/* 当一级项目被选中时，背景颜色的改变 */

.navitem:hover{
    background: rgb(3, 26, 38) ;
}

/* 一级项目的链接文字默认的设置 */

.navitem a:active,a:visited{
    color: black;
}

/* 当一级项目被选中时， 链接颜色的改变 */
.navitem a:hover{
    color: aliceblue;
}


.nav2{
    width: 140px;
    background: transparent;
    margin-top: 0px;
    position: absolute;
    display: none;

}
.navitem:hover .nav2{
    display: block;
    transition-delay: 1s ;
}


.nav2item{
    width: 140px;
    height: 40px;
    border: 4px solid white;
    border-radius: 30px;
    background: #cfd9df;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #868f96;
    position: relative;
    margin: 5px auto;
}

.nav2item:hover{
    background: skyblue;
}


.imgbox{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    background-color: aquamarine;
}
.imgbox img{
    width: 1000px;
    height: 500px;
    margin: auto;

}



.mainbox{
    width: 1200px;
    height: 700px;
    background: pink;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 4px #868f96;
    overflow-y: scroll;
}

/* 滚动条的设置 */
.mainbox::-webkit-scrollbar{
    width: 20px;
    background-color: aqua;

}
.mainbox::-webkit-scrollbar-thumb{
    background-color: #868f96;
    border-radius: 10px;
}


.content{
    background: skyblue;
    width: 500px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px #868f96;
    
}


.content ul{
    margin: 10px 10px;
    background: white;
    list-style-type: disc;
    list-style-position: inside;
}

.content ul li{
    margin-top: 10px;
    background: white;
}
